@font-face {
  font-family: 'yekan';
  src: url('./YekanBakh-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'yekan';
  src: url('./YekanBakh-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'yekan';
  src: url('./YekanBakh-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'yekan';
  src: url('./YekanBakh-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'yekan';
  src: url('./YekanBakh-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'yekan';
  src: url('./YekanBakh-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'yekan';
  src: url('./YekanBakh-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'yekan';
  src: url('./YekanBakh-Fat.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
} 