<form [formGroup]="step3Form">
    <div class="form-group">
      <label for="employeeTypeId"> نوع کارمند</label>
      <p-dropdown id="employeeTypeId" [options]="employeeTypeOptions" optionLabel="title" optionValue="id" formControlName="employeeTypeId" placeholder="انتخاب نوع کارمند"></p-dropdown>
      <div class="error-message" *ngIf="step3Form.get('employeeTypeId')?.errors?.['required'] && step3Form.get('employeeTypeId')?.touched">
         نوع کارمند الزامی است
      </div>
    </div>
  
    <div class="form-group">
      <label for="employeeForceId">کد نیروی کارمند</label>
      <p-dropdown id="employeeForceId" [options]="employeeForceOptions" optionLabel="title" optionValue="id" formControlName="employeeForceId" placeholder="انتخاب نوع نیرو"></p-dropdown>
      <div class="error-message" *ngIf="step3Form.get('employeeForceId')?.errors?.['required'] && step3Form.get('employeeForceId')?.touched">
        کد نیروی کارمند الزامی است
      </div>
    </div>
  
    <div class="form-group">
      <label for="title">عنوان</label>
      <input id="title" type="text" formControlName="title" />
      <div class="error-message" *ngIf="step3Form.get('title')?.errors?.['required'] && step3Form.get('title')?.touched">
        عنوان الزامی است
      </div>
    </div>
  
    <div class="form-group">
      <label for="startDate">تاریخ شروع</label>
      <aja-persian-date-picker formControlName="startDate"></aja-persian-date-picker>
      <div class="error-message" *ngIf="step3Form.get('startDate')?.errors?.['required'] && step3Form.get('startDate')?.touched">
        تاریخ شروع الزامی است
      </div>
    </div>
  
    <div class="form-group">
      <label for="endDate">تاریخ پایان</label>
      <aja-persian-date-picker formControlName="endDate"></aja-persian-date-picker>
      <div class="error-message" *ngIf="step3Form.get('endDate')?.errors?.['required'] && step3Form.get('endDate')?.touched">
        تاریخ پایان الزامی است
      </div>
    </div>
  
    <div class="form-group">
      <label for="recruitmentStatusId"> وضعیت استخدام</label>
      <p-dropdown id="recruitmentStatusId" [options]="recruitmentStatusOptions" optionLabel="title" optionValue="id" formControlName="recruitmentStatusId" placeholder="انتخاب وضعیت"></p-dropdown>
      <div class="error-message" *ngIf="step3Form.get('recruitmentStatusId')?.errors?.['required'] && step3Form.get('recruitmentStatusId')?.touched">
        کد وضعیت استخدام الزامی است
      </div>
    </div>
  </form>
  
  <div class="step-buttons">
    <button type="button" (click)="goToPreviousStep()" pButton class="p-button-primary">قبلی</button>
    <button type="button" (click)="goToNextStep()" pButton class="p-button-primary">بعدی</button>
  </div>
  