<header class="header">
  <div class="header-container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo" />
    </div>
    
    <div class="user-menu" pMenu #menu="pMenu" [popup]="true">
      <button pButton type="button" icon="pi pi-user" class="p-button-rounded p-button-text" (click)="menu.toggle($event)"></button>
      <ng-template pTemplate="content">
        <ul class="p-menu-list">
          <li class="p-menu-item">
            <a routerLink="/profile" class="p-menuitem-link">
              <i class="pi pi-user p-menuitem-icon"></i>
              <span class="p-menuitem-text">پروفایل</span>
            </a>
          </li>
          <li class="p-menu-item">
            <a (click)="logout()" class="p-menuitem-link">
              <i class="pi pi-sign-out p-menuitem-icon"></i>
              <span class="p-menuitem-text">خروج</span>
            </a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</header> 