@use "sass:color";
@import '../../assets/variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700&display=swap');

body,
.resume-builder-container {
  background: $background-color !important;
  display: flex;
  width: 80%;
  flex-direction: column;
  height: 80vh;
  padding: 2vh;
  gap: 2rem;
  border-radius: 1rem;

  .resume-builder-card {
    height: 80vh;
    overflow: auto;
  }
}

::ng-deep {
  p-dropdown {
    padding: .25rem !important;
  }
}