<div class="landing-page">
  <app-header></app-header>

  <div class="main-content">
    <div class="left-content">
      <h1 class="main-title">سامانه رزومه آجا</h1>
      <p class="description">سامانه رزومه آجا به شما کمک میکند تا به راحتی رزومه خود را ایجاد کنید و آن را به صورت
        آنلاین ارسال کنید.</p>
      <button pButton class="submit-button" (click)="openResume()" label="ساخت رزومه جدید"></button>

      <h2 class="jobs-title">قابلیت ها</h2>
      <div class="job-cards">
        <div class="job-card">
          <h3>دستیابی آسان</h3>
          <p>ساخت آسان رزومه از طریق اینترنت با فرم های ساده و سریع</p>
        </div>
        <div class="job-card">
          <h3>به روز رسانی رزومه</h3>
          <p>به روز رسانی رزومه به صورت آنلاین و سریع</p>
        </div>
        <div class="job-card">
          <h3>بررسی دقیق</h3>
          <p>بررسی زرومه توسط هوش ممنوعی</p>
        </div>
      </div>
      <div class="actions">
        <div class="job-card vertical" *ngIf="authService.isLoggedIn()">
          <h3>تست روانشناسی</h3>
          <button pButton class="test-button" label="شروع تست" routerLink="/psychological-test"></button>
        </div>
        <div class="job-card vertical" *ngIf="authService.isLoggedIn()">
          <h3>تست شخصیت شناسی</h3>
          <button pButton class="test-button" label="شروع تست" routerLink="/personality-test"></button>
        </div>
      </div>
    </div>
    <div class="right-content">
      <div class="soldier-image-container">
        <div class="soldier-bg"></div>
      </div>
    </div>
  </div>
</div>